* {
    margin: 0;
    padding: 0;
}
@keyframes drowning {
    from {background-position: 0 0;}
    to {background-position: 100% 100%;}
}
@keyframes efeitinho {
    from {color: #0077ff;}
    to {color:aqua}
}
body {
    background-image: linear-gradient(to top, #110121 0%, #2e0580 37%, #1d9dc4 67%, #110122 100%);
    background-size: 300% 300%;
    animation: drowning 7s infinite alternate;
}
.container {
    padding: 50px;
    border-radius: 30px;
    background-color: black;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    animation: animacao 5s;
}
img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 2px solid aqua;
}
.container hr {
    margin-top: 18px;
    height: 2px;
    background: linear-gradient(to right, rgba(255, 0, 0, 0), #2e0580, #1d9dc4, rgba(0, 255, 0, 0));
    border: none;
}
h1 {
    color: white;
    margin-top: 31px;
    margin-bottom: 8px;
    font-family: 'Tektur', cursive;
}
i {
    width: 25px;
}
a {
    background: linear-gradient(to top, #0077ff, aqua);
    padding: 10px;
    display: block;
    text-decoration: none;
    color: white;
    text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px;
}
a:hover {
    background: linear-gradient(to top, #8b8c8c, #ffff);
    color: cyan;
    box-shadow: -2px 2px 3px white, 2px 2px 3px white, 2px -2px 0 white, -2px -2px 0 #ffff;
}
ul {
    margin-top: 35px;
    list-style-type: none;
}
li {
    margin-bottom: 16px;
}
p {
    color: white;
    font-family: 'Tektur', cursive;
}
footer {
    margin-top: 50px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    animation: efeitinho 8s infinite alternate-reverse;
}